@page "/Adults"
@inject IFamilyManager familyManager
@inherits LayoutComponentBase
@using AdultContentComponent
@using Data
@using Models
@using System.Threading

<h3>Adults</h3>

@{ Console.WriteLine("test1 "+Thread.CurrentThread.ManagedThreadId); }

<AdultContent />

@code {
    
    
    protected override async Task OnInitializedAsync()
    {
        
       //_adults = await familyManager.GetAdults();
        
        
    }
    
}