@page "/Adults"
@inject IFamilyManager familyManager
@inherits LayoutComponentBase
@using AdultContentComponent
@using Data
@using Models
@using System.Threading

<h3>Adults</h3>

@{ Console.WriteLine("test1 "+Thread.CurrentThread.ManagedThreadId); }

<AdultContent _adults="@_adults"/>

@code {
    
    private IList<Adult> _adults;
    
    protected override async Task OnInitializedAsync()
    {
        _adults = new List<Adult>();
        
        _adults = await familyManager.GetAdults();
        foreach (var adult in _adults)   
        {
            Console.WriteLine(adult.ToString());
        }
        
    }
    
}