@page "/Adults"
@inject IFamilyManager familyManager
@inherits LayoutComponentBase
@using AdultContentComponent
@using Data
@using Models
@using System.Threading

<h3>Adults</h3>

<AdultContent />

@code {
    
    protected override async Task OnInitializedAsync()
    {
        
       
    }
    
}